.card-dimensions {
    height: 162px;
    width: 23%;
}

.card {
    font-family: sans-serif;
    font-size: 18px;
    background: #D2D2D2;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-container {
    justify-content: start;
}

.icon-pos {
    position: absolute;
    top: 25px;
}

.search-bar {
    min-width: 348px;
    text-indent: 30px !important;
    box-sizing: border-box;
}

.search-drop-down {
    position: absolute;
    width: 50%;
    max-height: 300px;
    overflow-y: auto;
    z-index: 10;
    background-color: #F6F6F6;
    font-family: sans-serif;
    opacity: 0.98;
}

.search-results {
    padding: 10px;
}

.search-results:hover {
    background: #707070;
}

.color-purple {
    color: #A550BC;
}